<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>モーダル</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common/modal.css') }}">

</head>
<body>
    <!-- モーダル部分 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <p>ユーザ登録が完了しました。</p>
            <p>ログイン画面に戻ります。</p>
            <button id="{{ button_id }}" class="modal-button">OK</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/common/modal.js') }}"></script> <!-- モーダルのスクリプト -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
