<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザ登録画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='build/bundle.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <script type="module" src="{{ url_for('static', filename='build/userRegister.js') }}"></script>

</body>
</html>
